.gcloudignore
.git
.git/**
.env
**/.env
.venv
.venv/**
**/.venv/**
**/__pycache__/**
**/.pytest_cache/**
**/.ruff_cache/**
**/dist/**
appPackage/**
.DS_Store
*.pyc
data/raw/**
data/**/*.pdf
data/**/*.docx
